# Covers Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
tmp/
*templ.go

# IDE specific files
.vscode
.idea

# Environmnt Config related files (Comment out if you made any changes to these files)
compose.yaml
Makefile
config.yaml

# misc
.DS_Store
config.staging.yaml
config.production.yaml
.env
app.env
xPay.postman_collection.json
