# Covers Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
tmp/
*templ.go

# IDE specific files
.vscode
.idea

# misc
.DS_Store
config.yaml
config.local.yaml
config.staging.yaml
config.production.yaml
.env
.env.local
.env.staging.local
.env.production.local
xPay.postman_collection.json
